body
{
    background-color: #36C5F0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Oculta las barras de desplazamiento */
}



.contactContainer
{
    display: flex;
    justify-content: center;
    /* border:3px solid greenyellow; */
    background-color:whitesmoke;
    height: 100vh;
    width: 30vw;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contactContainer_title
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:3px solid rgb(0, 0, 0); */
    background-color: #1DA1F2;
    height: 10vh;
    width: 30vw;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: aliceblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contact_title
{
    margin-bottom: 60px;
    margin-top: 0px;
    font-size: 30px;
}

.contact
{
    position: absolute;
    top: 2vh;
    left: 1vw;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white;
    background-color: #1DA1F2;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 1);
}


.containerCardContact
{
    position: absolute;
    border-top: rgb(143, 78, 246) solid 3px;
    border-bottom: rgb(143, 78, 246) solid 3px;
    width: 410px;
    height: 50px;
    background-color: #d2cccc;
}

.userInformation_name, .userInformation_phoneNumber, .userInformation_Email, .saveButton, .userInformation_SearchPhoto
{
    margin: 5px;
    border: none;
    border-radius: 3px;
    width: 197px;
    height: 20px;
}



.saveButton , .userInformation_SearchPhoto
{
    box-shadow:0 4px 8px rgba(0, 0, 0, 1);
    width: 200px;
}

.saveButton:hover
{
    background-color: #d2cccc;
}


.contactContainer_buttonAdd
{
    position: absolute;
    bottom: 5vh;
    right: 500px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #1DA1F2;
    border-radius: 10px;
    color: aliceblue;
    box-shadow:0 4px 8px rgba(0, 0, 0, 1);
}

.contactContainer_buttonAdd:hover
{
    background-color: #A2A2A2;
    color: black;
    opacity: 1;
    cursor: pointer;
}
.contactContainer_buttonAdd:active
{
    transform: scale(0.8);
}

.tooltip
{
    position: absolute;
    bottom: 125%; /* Ajustar la posición de la etiqueta */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.contactContainer_buttonAdd:hover .tooltip
{
    background-color: #1DA1F2;
    color: black;
    opacity: 1;
    cursor: pointer;
}
/* Animación para mostrar la etiqueta al hacer clic */
.contactContainer_buttonAdd .tooltip
{
    animation: showTooltip 2.0s forwards; /* Aplica la animación solo cuando se haga clic */
}

/* Aplicar la animación cuando se hace clic en el botón */
.contact_hidden
{
    position: absolute;
    top: 2vh;
    left: 1vw;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    color: white;
    background-color: #1DA1F2;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 1);
    animation: hideTooltip 3.0s forwards; /* 'forwards' mantiene el estado final de la animación */
}

@keyframes hideTooltip
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

/* Define la animación para mostrar y ocultar la etiqueta */
@keyframes showTooltip
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}